pgvector>=0.4.1
tenacity>=9.1.2
python-telegram-bot>=22.0
python-dotenv>=1.1.0
SQLAlchemy>=2.0.41
psycopg[binary]
alembic>=1.16.0
requests>=2.32.4
beautifulsoup4>=4.13.4
lxml>=6.0.0
pydantic>=2.11.7
pydantic-settings>=2.10.1
yandex-cloud-ml-sdk==0.18.0
selenium>=4.25.0
webdriver-manager>=4.0.2